img {
  max-width: 50%;
  height: auto;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px;
  overflow: auto;
  border: 1px solid #ddd;
  flex-grow: 1;
}

span.latex-input {
  font-size: 200%;
  min-width: 60%;
  max-width: 80%;
  height: auto;
}

span.latex-key {
  font-size: 120%;
  min-width: 10%;
  max-width: 40%;
  height: auto;
}

span.latex-value {
  font-size: 120%;
  min-width: 20%;
  max-width: 40%;
  height: auto;
}

span.latex-result {
  font-size: 150%;
}

select {
  margin: 5px;
}

input {
  margin: 5px;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.hint {
  margin: 0;
  padding: 0;
  font-size: 75%;
  color: gray;
}
.container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(200px, 2fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 70%;
}

.column {
  background-color: #f7f7f7;
  padding: 20px;
  overflow: auto;
  border: 1px solid #ddd;
  flex-grow: 1;
}

/* When screen width is less than 600px, merge columns into tabs */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .column:first-child {
    border-bottom: none;
  }
  .column:last-child {
    border-top: none;
  }
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
