img {
  max-width: 50%;
  height: auto;
}

span.latex-input {
  font-size: 200%;
  min-width: 60%;
  max-width: 80%;
  height: auto;
}

span.latex-key {
  font-size: 120%;
  min-width: 10%;
  max-width: 40%;
  height: auto;
}

span.latex-value {
  font-size: 120%;
  min-width: 20%;
  max-width: 40%;
  height: auto;
}

span.latex-result {
  font-size: 150%;
}

select {
  margin: 5px;
}

input {
  margin: 5px;
}

.nomargin {
  margin: 0;
  padding: 0;
}

.hint {
  margin: 0;
  padding: 0;
  font-size: 75%;
  color: gray;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.column {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
}

/* When screen width is less than 600px, merge columns into tabs */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .column:first-child {
    border-bottom: none;
  }
  .column:last-child {
    border-top: none;
  }
}
